* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  max-width: 4ch;
  word-break: break-all;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    max-width: initial !important;
    text-transform: capitalize;
  }
}
